body {
  margin: 0;
  background: #2a2e2e;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
  color: white;
  position: relative; 
  top: 25px;
}

p {
  letter-spacing: 2px;
  color: white;
  position: relative; 
  top: 50px;
}

#inputTextbox {
  width: 1000px;
  height: 50px;
  background-color: #2a2e2e;
  color: white;
  text-align: center;
  position: relative; 
  top: 600px;
  outline: 0;
  border-width: thick;
  border-color: #242929;
  font-size:24px;

.response {
    font-size: 16px;
    margin-top: 10px;
}

#answer {
    color: white;  /* Color for the answer text */
}

#error {
    color: red;    /* Color for the error text */
    font-weight: bold; /* Make error message bold */
}
