body {
  margin: 0;
  background: #2a2e2e;
  text-align: center;
}

#inputTextbox {
  width: 1000px; /* Wider width */
  height: 50px; /* Taller height */
  background-color: #2a2e2e;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0; /* Adjust left as needed to position horizontally */
}
