body {
  margin: 0;
  background: #2a2e2e;
  text-align: center;
}

h1 {
  letter-spacing: 3px;
  color: white;
}

p {
  letter-spacing: 3px;
  color: white;
}

#inputTextbox {
  width: 1000px; /* Wider width */
  height: 50px; /* Taller height */
  background-color: #2a2e2e;
  color: white;
  position: absolute; 
  top: 100px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #191c1c;
